{% extends 'base.html' %}
{% load i18n %}

{% block title %}Statuses{% endblock %}

{% block content %}
<div class="container wrapper flex-grow-1">
    
    <div class="container wrapper flex-grow-1 d-flex mb-3 justify-content-start align-items-center">
        <h1 class="my-4 mx-4">{% trans 'Statuses' %}</h1>
        <a class="btn btn-primary mx-4" href="{% url 'create_status' %}" role="button">{% trans 'Create status' %}</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">{% trans 'Name' %}</th>
                <th scope="col">{% trans 'Date of creation' %}</th>
                <th scope="col">{% trans 'Actions' %}</th>
            </tr>
        </thead>
    
        <tbody>
            {% for item in all_statuses %}
            <tr>
                <th scope="row">{{ item.id }}</th>
                <td>{{ item.title }}</td>
                <td>{{ item.created_at }}</td>
                <td>
                    <a href="{% url 'update_status' pk=item.id %}">{% trans 'Update' %}</a>
                    <a href="{% url 'delete_status' pk=item.id %}">{% trans 'Delete' %}</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}