{% extends 'base.html' %}
{% load i18n %}
{% block title %}Users{% endblock %}

{% block content %}
<div class="container wrapper flex-grow-1">
<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">{% trans 'Login' %}</th>
            <th scope="col">{% trans 'Full name' %}</th>
            <th scope="col">{% trans 'date of creation' %}</th>
            <th scope="col">{% trans 'Actions' %}</th>
        </tr>
    </thead>

    <tbody>
        {% for item in all_users %}
        <tr>
            <th scope="row">{{ item.id }}</th>
            <td>{{ item.username }}</td>
            <td>{{ item.first_name }} {{ item.last_name }}</td>
            <td>{{ item.date_joined }}</td>
            <td>
                <a href="{% url 'update_user' pk=item.id %}">{% trans 'Change' %}</a>
                <a href="{% url 'delete_user' pk=item.id %}">{% trans 'Delete' %}</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}