{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}
    {{ title }}
{% endblock %}


{% block content %}
<div class="container mt-4">
    <form method="post">

        {% csrf_token %}

        {% if status_to_delete %}
            <h2>{% trans 'You are going to delete status' %} {{ status_to_delete.title }}</h2>
        {% endif %}

        {% if user_to_delete %}
            <h2>{% trans 'You are going to delete user' %} {{ user_to_delete.username }}</h2>
        {% endif %}

        {% for field in form %}
            <div class="fieldWrapper">

                {% for error in field.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}

                {{ field|as_crispy_field }}
            </div>
        {% endfor %}

        <input type="submit" value="{{ value }}">
    </form>
</div>
{% endblock %}