{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    {% trans 'Home' %}
{% endblock %}


{% block content %}
<div class="card mt-5 border-0">
    <div class="card-body text-center">
        <h1>{% trans 'Task manager' %}</h1>
        <p class="lead">{% trans 'set tasks, assign performers and change their statuses' %}</p>
        <!-- <p class="lead"> -->
        <!-- <a href="#" class="btn btn-lg btn-light fw-bold border-white bg-white">Learn more</a> -->
        <!-- </p> -->
    </div>
</div>
{% endblock %}
