{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}
    {{ title }}
{% endblock %}

{% block main_text %}
    {{ title }}
{% endblock %}


{% block content %}
<div class="container wrapper flex-grow-1">
    {% if button_value %}
    <div class="container wrapper flex-grow-1 d-flex mb-3 justify-content-start align-items-center">
        <a class="btn btn-primary mx-4" href="{{ button_url }}" role="button">{{ button_value }}</a>
    </div>
    {% endif %}
    
{% if task_filter %}
    <form method="get">
        {{ task_filter.form.as_p }}
        <button type="submit">Поиск</button>
    </form>
    <ul>
    {% for item in task_filter.qs %}
        <li>{{ item.title }}</li>
    {% empty %}
        <li>Задачи не найдены.</li>
    {% endfor %}
    </ul>
{% endif %}
    

    {{ info }}

    <table class="table">
        <thead>
            <tr>
                {% for item in tables %}
                    <th scope="col">{{ item }}</th>
                {% endfor %}
            </tr>
        </thead>
    
        <tbody>
            {% for item in info %}
            
            <tr>
                {% for k, v in item.items %}
                    <td>{{ v }}</td>
                {% endfor %}
                
                <td>
                    <a href="{% url url_name_change pk=item.id %}">{% trans 'Change' %}</a>
                    <a href="{% url url_name_delete pk=item.id %}">{% trans 'Delete' %}</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}