{% extends 'base.html' %}
{% load i18n %}

{% block title %}
{% trans 'View task' %}
{% endblock %}

{% block content %}

<div class="container mt-5">
        <div class="card p-1">
            <div class="card-body">
                
                <h5 class="card-title mt-4 mb-4">{{ info.name }}</h5>
                <div class="card-text text-start m-5">
                    <p><strong>{% trans 'Description' %}:</strong> {{ info.description }}</p>
                    <p><strong>{% trans 'Author' %}:</strong> {{  info.author }}</p>
                    <p><strong>{% trans 'Executor' %}:</strong> {{ info.executor }}</p>
                    <p><strong>{% trans 'Status' %}:</strong> {{ info.status }}</p>
                    <p><strong>{% trans 'Created At' %}:</strong> {{ info.created_at }}</p>
                    <p><strong>{% trans 'Label' %}:</strong> 
                        {% for label in info.label.all %}
                            {{ label }}{% if not forloop.last %}, {% endif %}
                        {% empty %}
                            {% trans 'No labels' %}
                        {% endfor %}
                    </p>
                </div>
            </div>
        </div>
</div>

{% endblock %}